<div class="col-xs-8 col-xs-offset-2">
  <div class="row">
    <div class="member-edit-header col-xs-6">
      Edit Member Info
    </div>
  </div>
  <form class="member-edit-form row" name="editForm"
    ng-submit="memberEditCtrl.updateMember(editForm.$valid)" novalidate>

    <md-input-container class="md-block">
      <label for="fullname">Name</label>
      <input type="text" name="editForm.fullname"
        ng-model="memberEditCtrl.editForm.fullname"
        required/>
    </md-input-container>

    <md-input-container class="md-block">
      <label for="groupName">Group Name</label>
      <input type="text" name="editForm.groupName"
        ng-model="memberEditCtrl.editForm.groupName"/>
    </md-input-container>

    <md-input-container class="md-block">
      <label for="email">Email</label>
      <input type="email" name="editForm.email"
      ng-model="memberEditCtrl.editForm.email"/>
    </md-input-container>

      <input style="display:none"> <!--required so Chrome won't autofill and ruin my day -->
      <input type="password" style="display:none"> <!--required so Chrome won't autofill and ruin my day -->

      <md-input-container class="md-block" ng-if="memberEditCtrl.editForm.role !== 'member'">
        <label for="password">Password</label>
        <input ng-model="memberEditCtrl.editForm.password"
          type="password"
          name="password"
          match="editForm.passwordConfirmation"
          md-no-asterisk
          ng-minlength="8"
          ng-required="memberEditCtrl.editForm.passwordConfirmation"/>
          <div ng-messages="editForm.passwordConfirmation.$error">
            <div ng-message="required">Must match new password.</div>
            <div ng-message="minlength">Must be at least 8 characters.</div>
            <div ng-message="match">Passwords must match</div>
          </div>
      </md-input-container>

      <md-input-container class="md-block" ng-if="memberEditCtrl.editForm.role !== 'member'">
        <label for="passwordConfirmation">Password Confirmation</label>
        <input ng-model="memberEditCtrl.editForm.passwordConfirmation"
          type="password"
          name="passwordConfirmation"
          md-no-asterisk
          ng-minlength="8"
          match="editForm.password"
          ng-required="memberEditCtrl.editForm.password"/>
          <div ng-messages="editForm.password.$error">
            <div ng-message="required">Must match new password.</div>
            <div ng-message="minlength">Must be at least 8 characters.</div>
            <div ng-message="match">Passwords must match</div>
          </div>
      </md-input-container>
    </div>

    <button type="submit" class="btn" ng-class="editForm.$valid ? 'btn-success': 'btn-disabled'">Update Member</button>
  </form>
</div>
