<alert-component></alert-component>

<div class="col-xs-12">
  <div class="row">
    <div class="col-sm-12 hidden-xs">
      <img src="https://makerspace-interface.herokuapp.com/assets/makerspace.png"
      alt="Manchester Makerspace"
      style="max-height: 116px; display: inline-block;"/>
    </div>
  </div>
</div>



<div ng-if="!registerCtrl.completedForm && registerCtrl.step !== 3" class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">

  <div class="member-edit-form" ng-if="registerCtrl.step === 0">
    <h3 class="text-center">Welcome to the Manchester Makerspace Online Portal</h3>
    <br>
    <p class="text-left">This tool is used to manage memberships and Makerspace access.  After registering, you will be invited to the Manchester Makerspace Slack team.  If you're unfamiliar with Slack, it is a type of messaging application that our members use to collaborate on projects.  We also use it to send information about the Space, Workshops, and Memberships.</p>
    <p class="text-center">Please take a moment to register with the Manchester Makerspace!</p>

    <p class="text-center"><button type="button" ng-click="registerCtrl.step = 1" class="btn btn-primary">Proceed</button></p>
  </div>

  <form ng-if="registerCtrl.step === 1" class="member-edit-form row" name="registerForm"
    ng-submit="registerCtrl.submitForm(registerForm.$valid)" novalidate>
    <div class="text-center h4">Please complete this form to proceed</div>
    <div class="row">
      <div class="col-xs-6">
        <md-input-container class="md-block">
          <label for="firstname">First Name</label>
          <input type="text" name="firstname"
            ng-model="registerCtrl.registerForm.firstname"
            required/>
            <div ng-messages="registerForm.firstname.$error">
              <div ng-message="required">Please complete this field.</div>
            </div>
        </md-input-container>
      </div>
      <div class="col-xs-6">
        <md-input-container class="md-block">
          <label for="lastname">Last Name</label>
          <input type="text" name="lastname"
            ng-model="registerCtrl.registerForm.lastname"
            required/>
            <div ng-messages="registerForm.lastname.$error">
              <div ng-message="required">Please complete this field.</div>
            </div>
        </md-input-container>
      </div>
    </div>

    <md-input-container class="md-block">
      <md-checkbox ng-model="registerCtrl.group">
        Are you part of a registered group?
      </md-checkbox>
    </md-input-container>

    <div ng-if="registerCtrl.group">
      <md-input-container class="md-block">
        <md-select ng-model="registerCtrl.registerForm.groupName" placeholder="Select a Group">
          <md-option class="group-option" ng-value="null">None</md-option>
          <md-option class="group-option" ng-value="group.groupName" ng-repeat="group in registerCtrl.groups">{{group.groupName}}</md-option>
        </md-select>
      </md-input-container>
    </div>

    <md-input-container class="md-block">
      <label for="email">Email</label>
      <input type="email" name="email"
      ng-model="registerCtrl.registerForm.email" required/>
      <div ng-messages="registerForm.email.$error">
        <div ng-message="required">Please complete this field.</div>
        <div ng-message="email">Please use a valid email addreess.</div>
      </div>
    </md-input-container>

    <input style="display:none"> <!--required so Chrome won't autofill and ruin my day -->
    <input type="password" style="display:none"> <!--required so Chrome won't autofill and ruin my day -->

    <md-input-container class="md-block">
      <label for="password">Password</label>
      <input ng-model="registerCtrl.registerForm.password"
        type="password"
        name="password"
        match="registerForm.passwordConfirmation"
        md-no-asterisk
        ng-minlength="8"
        ng-required="registerCtrl.registerForm.password_confirmation || true"/>
        <div ng-messages="registerForm.password.$error">
          <div ng-message="required">Please enter a password.</div>
          <div ng-message="minlength">Must be at least 8 characters.</div>
          <div ng-message="match">Passwords must match</div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label for="passwordConfirmation">Password Confirmation</label>
      <input ng-model="registerCtrl.registerForm.password_confirmation"
        type="password"
        name="passwordConfirmation"
        md-no-asterisk
        ng-minlength="8"
        match="registerForm.password"
        ng-required="registerCtrl.registerForm.password || true"/>
        <div ng-messages="registerForm.password_confirmation.$error">
          <div ng-message="required">Please confirm your password.</div>
          <div ng-message="minlength">Must be at least 8 characters.</div>
          <div ng-message="match">Passwords must match</div>
        </div>
      </md-input-container>
      <p class="text-center"><button type="submit" class="btn" ng-class="registerForm.$valid ? 'btn-success': 'btn-disabled'">Continue to Member Contract</button></p>
  </form>
  <div class="row">
    <div class="col-xs-12">
      <a href="mailto:amanda.lambert@manchestermakerspace.org">Contact Us for assistance</a>
    </div>
  </div>
</div>

<e-sign-component ng-if="registerCtrl.completedForm && registerCtrl.step !== 3"
  sign-contact="registerCtrl.signContract(signature)"
  documents="registerCtrl.documents"
  name="registerCtrl.getFullname()"></e-sign-component>

<form name="orientation" class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" ng-if="registerCtrl.step === 3">
  <h3>Registration Complete!</h3>
  <p>Now we just need to set you up with a keyfob and give a brief safety orientation.  The below calendar indicates available orientation times.  Please select a time and complete the following form to register for that time slot.  If there are no time slots that will work for you or should you have any questions, please don't hesitate to <a href="mailto:amanda.lambert@manchestermakerspace.org">Contact Us</a></p>.
    <p>Time Slot: </p>
    <md-input-container class="md-block">
      <md-select
        name="time"
        required
        ng-model="registerCtrl.timeSlot">
        <md-option ng-value="event" placeholder="Please select a time" ng-repeat="event in registerCtrl.availableTimeSlots track by $index">{{event.start.dateTime | date: 'EEE M/d/yy h:mm a'}}</md-option>
      </md-select>
      <div ng-messages="orientation.time.$error">
        <div ng-message="required">Please select an orientation.</div>
      </div>
    </md-input-container>
    <button type="button" class="btn btn-primary" ng-click="registerCtrl.selectTimeslot()">Confirm</button>
  <iframe src="https://calendar.google.com/calendar/embed?src=manchestermakerspace.org_iaaho83aciv4on481p96ku6ed8%40group.calendar.google.com&ctz=America%2FNew_York" style="border-width:0" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</form>
