<div class="workshopDiv" id="<%=workshop.id%>">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" id="workshop-name"><strong> <%= workshop.name %></strong></h3>
    </div>
    <div class="panel-body">
     <% if !workshop.officer.nil? %>
        <h4 id="workshop-officer"><%= "Officer: #{workshop.officer.fullname}"%></h4>
      <%end%>
      <% if is_admin? %>
        <%= link_to "Edit Workshop", edit_admin_workshop_path(workshop), class: "btn btn-primary", id: 'editWorkshopID'  %>
      <% end %>

      <p></p>

      <button type='button' id="getSkillsButton">Show Workshop Skills</button>
      <div id="getSkillsList"></div>
    </div>
  </div>
</div>
