<% isMembership = @type == "member" %>
<% friendly_type = isMembership ? 'membership' : 'rental' %>

<div style="width: 100%">
  <h3> Canceled <%= friendly_type %> subscription with Manchester Makerspace</h3>
  <div>
    <p>Hi <%=@member.fullname%>!</p>
    <p>Your <%= friendly_type %> subscription with Manchester Makerspace has been canceled. 
    
      <% if isMembership %>
        Your key fob will continue working until the end of your current membership term.
      <% end %>
    <p>
    <p>To sign up again or review previous transactions, <%= link_to 'view your account', @url, id: "profile-link"%></p>
  </div>
</div>
