<% type = @invoice.resource_class %>
<% isMembership = type == "member" %>
<% friendly_type = isMembership ? 'membership' : 'rental' %>

<div style="width: 100%">
  <h3> Refund approved for <%= friendly_type %> payment to Manchester Makerspace</h3>
  <div>
    <p>Hi <%=@member.fullname%>!</p>
    <p>Refund of your <%=friendly_type%> purchase has been approved.</p>
    <p>Details regarding your purchase and refund can be found below.</p>
    <br/>
    <%= render 'transaction_table' %>
  </div>
</div>
