Please Login
<form method='POST' action='sessions/create'>
  <label>Email</label>
  <input type='email' name='email'>
  <label>Password</label>
  <input type='password' name='password'>
  <input type='submit' name='Login'>
</form>
