<div>
    <p>Hi <%= @member.fullname %>, we noticed that you created an online profile but never purchased a membership.</p>

    <p>Do you have any questions about the Makerspace or is there anything we can help you with before you purchase a membership?</p>

    <p>Did you have any technical difficulties purchasing a membership?</p>

    <p> If you're no longer interested in a membership, please take a moment to help us improved with this short survey.</p>

    <%= render 'marketing_mailer/unsubscribe' %>
</div>