<div class="col-xs-12 login-wrapper">
  <alert-component></alert-component>

  <div class="row login-row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 login">
      <form name="loginForm" ng-submit="loginCtrl.submitLogin(loginForm.$valid)" novalidate>
        <md-input-container class="md-block">
          <label for="email">Email</label>
          <input type="email"
                 name="email"
                 id="email"
                 ng-model="loginCtrl.loginForm.email"
                 required="required"
                 class="form-control">
           <div ng-messages="loginForm.email.$error">
             <div ng-message="required">Please complete this field.</div>
             <div ng-message="email">Please use a valid email addreess.</div>
           </div>
         </md-input-container>

         <md-input-container class="md-block">
          <label for="password">Password</label>
          <input type="password"
                 name="password"
                 id="password"
                 ng-model="loginCtrl.loginForm.password"
                 required="required"
                 class="form-control">
           <div ng-messages="loginForm.password.$error">
             <div ng-message="required">Please complete this field.</div>
           </div>
         </md-input-container>

        <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
        <button type="button" class="btn btn-info btn-lg"
          ng-click="loginCtrl.resetPassword()">Forgot your password?</button>
      </form>
    </div>
  </div>
</div>
