<div class="col-xs-8 col-xs-offset-2">
  <div class="row">
    <div class="member-edit-header col-xs-6">
      Edit Member Info
    </div>
  </div>
  <form class="member-edit-form row" name="editForm"
    ng-submit="memberEditCtrl.updateMember(editForm.$valid)" novalidate>

    <md-input-container class="md-block">
      <label for="fullname">Name</label>
      <input type="text" name="fullname"
        ng-model="memberEditCtrl.editForm.fullname"
        required/>
    </md-input-container>

    <div class="text-center">
      <span>Expiration: </span><span ng-bind="memberEditCtrl.member.expirationTime | date: shortDate: EST"></span>
    </div>

    <md-input-container class="md-block">
      <label for="email">Email</label>
      <input type="email" name="email"
        ng-model="memberEditCtrl.editForm.email"/>
    </md-input-container>

    <md-input-container class="md-block">
      <label for="slackHandle">Slack Handle</label>
      <input type="text" name="slackHandle"
        ng-model="memberEditCtrl.editForm.slackHandle"/>
    </md-input-container>

    <!-- <md-input-container class="md-block">
      <label for="groupName">Group Name</label>
      <input type="text" name="editForm.groupName"
        ng-model="memberEditCtrl.editForm.groupName"/>
    </md-input-container> -->

    <md-input-container class="md-block">
      <label for="groupName">Group</label>
      <md-select ng-model="memberEditCtrl.editForm.groupName" name="groupName">
        <md-option ng-value="null">None</md-option>
        <md-option ng-repeat="group in memberEditCtrl.groups" ng-value="group.groupName">{{group.groupName}}</md-option>
      </md-select>
    </md-input-container>

    <md-input-container class="md-block">
      <label for="status">Member Status</label>
      <md-select ng-model="memberEditCtrl.editForm.status"
        name="status"
        md-no-asterisk
        required>
        <md-option ng-repeat="status in memberEditCtrl.statuses" ng-value="status">
          {{status}}
        </md-option>
      </md-select>
    </md-input-container>

    <button class="btn btn-info" type="button" ng-if="!memberEditCtrl.toggleRoleButton" ng-click="memberEditCtrl.toggleRoleButton = 'true'">{{memberEditCtrl.editForm.role}} - Change Member Role</button>

    <div ng-if="memberEditCtrl.toggleRoleButton">
      <md-input-container class="md-block">
        <label for="role">Member Role</label>
        <md-select ng-model="memberEditCtrl.editForm.role"
          name="role"
          md-no-asterisk
          required>
          <md-option ng-repeat="role in memberEditCtrl.roles" ng-value="role">
            {{role}}
          </md-option>
        </md-select>
      </md-input-container>

      <input style="display:none"> <!--required so Chrome won't autofill and ruin my day -->
      <input type="password" style="display:none"> <!--required so Chrome won't autofill and ruin my day -->

      <md-input-container class="md-block" ng-if="memberEditCtrl.editForm.role !== 'member'">
        <label for="password">Password</label>
        <input ng-model="memberEditCtrl.editForm.password"
          type="password"
          name="password"
          match="editForm.passwordConfirmation"
          md-no-asterisk
          ng-minlength="8"
          ng-required="memberEditCtrl.editForm.passwordConfirmation"/>
          <div ng-messages="editForm.passwordConfirmation.$error">
            <div ng-message="required">Must match new password.</div>
            <div ng-message="minlength">Must be at least 8 characters.</div>
            <div ng-message="match">Passwords must match</div>
          </div>
      </md-input-container>

      <md-input-container class="md-block" ng-if="memberEditCtrl.editForm.role !== 'member'">
        <label for="passwordConfirmation">Password Confirmation</label>
        <input ng-model="memberEditCtrl.editForm.passwordConfirmation"
          type="password"
          name="passwordConfirmation"
          md-no-asterisk
          ng-minlength="8"
          match="editForm.password"
          ng-required="memberEditCtrl.editForm.password"/>
          <div ng-messages="editForm.password.$error">
            <div ng-message="required">Must match new password.</div>
            <div ng-message="minlength">Must be at least 8 characters.</div>
            <div ng-message="match">Passwords must match</div>
          </div>
      </md-input-container>
    </div>

    <div ng-if="!memberEditCtrl.showDetails">
      <button type="button" class="btn btn-primary"
        ng-click="memberEditCtrl.showDetails = !memberEditCtrl.showDetails">Show Details</button>
    </div>

    <div class="details" ng-if="memberEditCtrl.showDetails">
      <div class="current-cards row">
        <h5 class="text-center">Cards</h5>
        <div class="text-center col-xs-12 col-sm-6" ng-if="!memberEditCtrl.cards || memberEditCtrl.cards.length === 0">
          No Cards Found!
        </div>
        <div class="member-card-wrapper text-center col-xs-12 col-sm-6" ng-if="memberEditCtrl.cards.length > 0" ng-repeat="card in memberEditCtrl.cards">
          <div class="member-card">
            <p>Card ID: <span ng-bind="card.id.substr(card.id.length - 5)"></span></p>
            <p>Card Status: <span ng-bind="card.validity"></span></p>
            <p ng-if="card.validity !== 'lost' && card.validity !== 'stolen'">Report as:
              <button type="button"
                class="btn btn-danger"
                ng-click="memberEditCtrl.reportCard(card, 'lost')">Lost</button>
              <button type="button"
                class="btn btn-danger"
                ng-click="memberEditCtrl.reportCard(card, 'stolen')">Stolen</button>
            </p>
          </div>
        </div>
      </div>

      <div class="new-card text-center row">
        <button type="button"
          class="btn btn-warning"
          ng-if="memberEditCtrl.noActiveCards() && !memberEditCtrl.newCard"
          ng-click="memberEditCtrl.newCardForm()">New Card</button>

          <div class="col-xs-12" ng-if="memberEditCtrl.newCard">
            <div class="row">
              <div class="col-xs-4">
                <md-input-container>
                  <label for="cardID">Card ID</label>
                  <input type="text" name="newCard[uid]"
                    ng-model="memberEditCtrl.newCard.uid"
                    disabled
                    required
                    md-no-asterisk/>
                  <div ng-messages="newCard.uid.$error" ng-if="newCard.uid.$dirty">
                    <div ng-message="required">Cannot be blank.</div>
                  </div>
                </md-input-container>
              </div>
              <div class="col-xs-4">
                <button type="button" class="btn btn-default btn-block"
                 ng-click="memberEditCtrl.refreshCardID()">Refresh Card ID</button>
              </div>
              <div class="col-xs-4">
                <button type="button" class="btn btn-warning btn-block"
                 ng-click="memberEditCtrl.createCard()">Create New Card</button>
              </div>
            </div>
          </div>
      </div>
    </div>

      <button type="submit" class="btn" ng-class="editForm.$valid ? 'btn-success': 'btn-disabled'">Update Member</button>
    </form>
  </div>
</div>
