<div>
  <h3>Welcome to Manchester Makerspace!</h3>
</div>

<div>
  <p>We're so glad you've decided to join us!</p>
  <p>
    Thank you for signing up in our online portal. The next step will require you to come to the Makerspace for an orientation and get your 24/7 key. 
    Don't worry, your membership does not start until you receive your key. Open house (Mondays 6-8pm) are generally the best days to get your key. If you
    cannot make it during open house, please reach out to an admin by replying to this email or ask in <strong>#new-members</strong> after joining Slack.
  </p>
  <p>
    You will shortly receive an invite to our organization's Slack channel, if you have not been invited already. This is where we collaborate and schedule classes.
    Each shop has a Resource Manager for conducting checkouts and maintaining the workshop. 
    If there are any shops or equipment that you are particularly interested getting checked out on, please reach out to the respective Resource Manager for more details on checkouts. 
    Each shop has their own Slack channel for this purpose.
  </p>
  <p>
    Please take a moment to complete this short survey to help improve our sign up process. <a href="https://www.surveymonkey.com/r/JZZGVXX">Start survey</a>.
  </p>
</div>
