<% 
  has_no_membership = !!Service::Analytics::Members.query_no_membership().find(@member)
  welcome_guide_url = "https://wiki.manchestermakerspace.org/en/FAQ"
  purchase_membership_url = link_to('My Account', url_for(action: :application, controller: 'application'), id: "profile-link")
%>

<div style="text-align: center;">
  <h3>Welcome to Manchester Makerspace!</h3>
  <img src="<%= image_url('WeldingSnail-Small.jpg') %>"
    style="max-width: 640px;"/>
</div>

<div>
  <p>We're so glad you've decided to join us!
    New to makerspaces? Take a moment to <a href="https://www.youtube.com/watch?v=J6gXWtlyFVM" target="_blank">watch our virtual tour.</a> Ready to get started?
  </p>
  <div style="margin: 2em; text-align: center;">
    <a 
      href="<%=has_no_membership ? purchase_membership_url : welcome_guide_url%>" 
      target="_blank"
      style="
padding: 1em;
border-radius: 4px;
text-decoration: none;
background-color: #0000f4;
color: white;
font-weight: bold;
"
    >
      <%=has_no_membership ? "Purchase a membership" : "Read the welcome guide" %>
    </a>
  </div>
</div>
