<div>
  <h3>New Member Registered</h3>
</div>
<div>
  <p><%=@member.fullname%> has just finished registering.</p>
  <p>Contact them for orientation: <a href="mailto:<%=@member.email%>"><%=@member.email%></a>
  <br>
  <p>--The Manchester Makerspace Team</p>
</div>
