<div>
  <h3>Action Required for Manchester Makerspace Membership</h3>
</div>

<div>
  <p>Hi <%=@member.fullname%>! </p>
  <p>
    Our records incidate we're missing a signed <%=@document_type%> from you. 
    <%= link_to 'Please take a moment to login and e-sign the document by following this link.', @url, id: "profile-link"%>
  </p>
</div>
