<div>
  <p>Attached please find a copy of the signed document for your records.</p>
  <p>If you have any questions, please reply to this email or email <a href="mailto:contact@manchestermakerspace.org?subject=Re:%20Signed%20<%= @doc_name %>" target="_top">contact@manchestermakerspace.org</a>.</p>
  <br>
  <p>--The Manchester Makerspace Team</p>
</div>
