<div>
  <p>We're so glad you've decided to join us!</p>
  <%= link_to 'Click here to register for our Online Portal', @url, id: "register-link"%>

  <p>Please sign up for our Online Portal (above) where you can review our Member Contract, and Code of Conduct.  Once you register, we will contact you to set up an orientation time.  During orientation, we will get you setup with a keyfob for 24/7 member access and give you a brief tour of the premises to explain the procedures of the space and safety precautions.</p>

  <p>Additionally, each shop has a Resource Manager for conducting checkouts and maintaining the workshop. If there are any shops or equipment that you are particularly interested getting checked out on, please reach out to the respective Resource Manager for more details on checkouts.</p>
  <p>Lastly, if you have any other questions, please reply to this email or email <a href="mailto:contact@manchestermakerspace.org?subject=Re:%20Welcome%20to%20Manchester%20Makerspace" target="_top">contact@manchestermakerspace.org</a>. Hope to see you at the space soon!</p>
  <br>
  <p>--The Manchester Makerspace Team</p>
</div>
