<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <a href="http://manchestermakerspace.org/"
            <img src="assets/FilledLaserableLogo.svg"
              alt="Manchester Makerspace"
              style="max-height: 116px;">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <h3>Welcome to Manchester Makerspace!</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <p>We're so glad you've decided to join us!</p>
              <a href="<%=@url%>">Click here to register  for our Online Portal</a>
              <!-- <p>First, attached please find our Membership Contract and Code of Conduct. </p> -->
              <p>We need to get you set up with a keyfob so that you can begin to take advantage of our
              24/7 membership access.  Please click the following link to our Google Calendar and select a time block
              that will work for you.  We will also complete a brief orientation of the space to explain opening and closing the shop along with things like fire safety.  If there are no slots available on the calendar or no times work for you, please reply to this email, and let us know!</p>
              <p>Google Calendar: </p>
              <p>Additionally, our monthly equipment safety checkout day is the first Saturday of the month (except holidays). If there are any shops or equipment that you are particularly interested in, please let us know so the respective officers can plan accordingly</p>
              <p>Lastly, if you have any other questions, please reply to this email or email <a href="mailto:board@manchestermakerspace.org?subject=Re:%20Welcome%20to%20Manchester%20Makerspace" target="_top">board@manchestermakerspace.org</a>. Hope to see you at the space soon!</p>
              <br>
              <p>--The Manchester Makerspace Team</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
