<form class="new-member-form row" name="newMember"
  ng-submit="newMemberCtrl.submitMember(newMember.$valid)" novalidate>
  <input style="display:none"> <!--required so Chrome won't autofill and ruin my day -->
  <input type="password" style="display:none"> <!--required so Chrome won't autofill and ruin my day -->
  <div class="col-xs-12">
    <md-input-container class="md-block">
      <label for="fullname">Name</label>
      <input type="text" name="fullname"
        ng-model="newMemberCtrl.newMember.fullname"
        required
        ng-minlength="2"/>
      <div ng-messages="newMember.fullname.$error">
        <div ng-message="required">Cannot be blank.</div>
        <div ng-message="minlength">Must be at least 2 characters.</div>
      </div>
    </md-input-container>
  </div>
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-6">
        <md-input-container>
          <label for="cardID">Card ID</label>
          <input type="text" name="cardID"
            ng-model="newMemberCtrl.newMember.cardID"
            disabled
            required
            md-no-asterisk/>
          <div ng-messages="newMember.cardID.$error" ng-if="newMember.cardID.$dirty">
            <div ng-message="required">Cannot be blank.</div>
          </div>
        </md-input-container>
      </div>
      <div class="col-xs-6">
        <button type="button" class="btn btn-default btn-block"
         ng-click="newMemberCtrl.refreshCardID()">Refresh Card ID</button>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <md-input-container class="md-block">
      <label for="groupName">Group Name</label>
      <input type="text" name="groupName"
        ng-model="newMemberCtrl.newMember.groupName"
        ng-minlength="2"/>
      <div ng-messages="newMember.groupName.$error" ng-if="newMember.groupName.$dirty">
        <div ng-message="minlength">Must be at least 2 characters.</div>
      </div>
    </md-input-container>
  </div>
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-6">
        <md-input-container>
          <label for="startDate">Start Date</label>
          <md-datepicker name="renewal[startDate]"
            md-open-on-focus
            ng-model="newMemberCtrl.newMember.renewal.startDate"/>
        </md-input-container>
      </div>
      <div class="col-xs-6">
        <md-input-container class="md-block">
          <label for="months">Intial Membership Length</label>
          <md-select ng-model="newMemberCtrl.newMember.renewal.months"
            name="renewal[months]"
            required>
              <md-option ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12]" ng-value="{{n}}">
                {{n}}
              </md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
    <div class="col-xs-12">
      <md-input-container class="md-block">
        <label for="role">Role</label>
        <md-select ng-model="newMemberCtrl.newMember.role"
          name="role"
          required>
          <md-option ng-repeat="r in ['member', 'officer', 'admin']" ng-value="{{r}}">
            {{r}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <div class="col-xs-12" ng-if="newMemberCtrl.newMember.role !== 'member'">
      <div class="row">
        <div class="col-xs-6">
        <md-input-container>
          <label for="password">Password</label>
          <input type="password" name="password"
            ng-required="newMemberCtrl.newMember.passwordConf"
            ng-model="newMemberCtrl.newMember.password"
            match="newMember.passwordConf"
            minlength="8">
            <div ng-messages="newMember.password.$error">
  						<div ng-message="required">Must enter current password in order to change passwords.</div>
  						<div ng-message="minlength">Must be at least 8 characters.</div>
  					</div>
          </md-input-container>
      </div>
      <div class="col-xs-6">
        <md-input-container>
          <label for="passwordConf">Password Confirmation</label>
          <input type="password" name="passwordConf"
          ng-required="newMemberCtrl.newMember.password"
          ng-model="newMemberCtrl.newMember.passwordConf"
          match="newMember.password"
          minlength="8">
          <div ng-messages="newMember.passwordConf.$error">
						<div ng-message="required">Must enter current password in order to change passwords.</div>
						<div ng-message="minlength">Must be at least 8 characters.</div>
					</div>
        </md-input-container>
      </div>
    </div>
  </div>
  <div class="col-xs-12 text-center">
      <button type="submit" class="btn" ng-class="newMember.$valid ? 'btn-success': 'btn-disabled'">Create New Member</button>
  </div>
</form>
