<div style="background-color: #f5f5f5; text-align: center;">
    <a href="http://manchestermakerspace.org/">
        <img src="<%= image_url('makerspace.png') %>"
            alt="Manchester Makerspace"
            style="max-height: 60px;"/>
    </a>
</div>