<div class="row">
  <div ng-if="signCtrl.type === 'contract'" class="contract col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" ng-include src="'contract'"></div>
  <div ng-if="signCtrl.type === 'conduct'" class="conduct col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" ng-include src="'conduct'"></div>
</div>
<br>
<div ng-if="signCtrl.type === 'conduct'">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <button type="button" class="btn btn-success" ng-click="signCtrl.type = 'contract';">Next</button>
    </div>
  </div>
</div>
<div ng-if="signCtrl.type === 'contract'">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <signature-pad accept="signCtrl.accept" clear="signCtrl.clear"
      height="400" width="1000"></signature-pad>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <p>*Sign with touch or click-and-drag mouse</p>
    </div>
    <div class="col-xs-6 col-xs-offset-3 text-center" style="margin-bottom: 20px;">
      <button ng-click="signCtrl.clear()" class="btn btn-default">Clear signature</button>
      <button ng-click="signCtrl.done()" class="btn btn-success">Sign and Continue</button>
    </div>
  </div>
</div>
