<div class="col-xs-12 login-wrapper">
  <div class="row login-row">
    <div class="col-xs-8 col-xs-offset-2 login">
      <form name="passwordForm" ng-submit="passwordCtrl.requestPasswordEmail(passwordForm.$valid)" novalidate ng-if="!passwordCtrl.token">
        <h4>Please enter your email to receive password reset instructions.</h4>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email"
                 name="email"
                 id="email"
                 ng-model="passwordCtrl.passwordForm.email"
                 required="required"
                 class="form-control">
        </div>
        <div class="row" ng-if="passwordCtrl.emailNotFound && passwordCtrl.passwordForm.email === passwordCtrl.failedEmail">
          <div class="col-xs-12">
            <span style="color: red">Email not found!</span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Request Password Reset</button>
      </form>
      <form name="passwordForm" ng-submit="passwordCtrl.changePassword(passwordForm.$valid)"  novalidate ng-if="passwordCtrl.token">
        <h4>Please enter your new password.</h4>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"
                 name="password"
                 id="password"
                 match="passwordForm.passwordConfirmation"
                 ng-minlength="8"
                 ng-model="passwordCtrl.passwordForm.password"
                 ng-required="passwordCtrl.passwordForm.password_confirmation"
                 class="form-control">
        </div>
        <div ng-messages="passwordForm.password.$error" ng-if="passwordForm.password.$dirty" style="color:maroon" role="alert">
          <div ng-message="required">Must match new password.</div>
          <div ng-message="minlength">Must be at least 8 characters.</div>
          <div ng-message="match">Passwords must match</div>
        </div>
        <div class="form-group">
          <label for="passwordConfirmation">Password Confirmation</label>
          <input type="password"
                 name="passwordConfirmation"
                 id="passwordConfirmation"
                 match="passwordForm.password"
                 ng-minlength="8"
                 ng-model="passwordCtrl.passwordForm.password_confirmation"
                 ng-required="passwordCtrl.passwordForm.password"
                 class="form-control">
        </div>
        <div ng-messages="passwordForm.passwordConfirmation.$error" ng-if="passwordForm.passwordConfirmation.$dirty" style="color:maroon" role="alert">
          <div ng-message="required">Must match new password.</div>
          <div ng-message="minlength">Must be at least 8 characters.</div>
          <div ng-message="match">Passwords must match</div>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Change Password</button>
      </form>

    </div>
  </div>
</div>
