<div class="row">
  <div class="col-xs-4">
    <button type="button"
      style="margin-bottom: 1em;"
      class="btn btn-success"
      ng-if="rentalCtrl.isUserAdmin()"
      ui-sref="root.rentalNew">Create New Rental</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 rentals-table">
    <div class="row rentals-table-header">
      <div ng-class="rentalCtrl.isUserAdmin() ? 'col-xs-3': 'col-xs-4'">
        Number
      </div>
      <div ng-class="rentalCtrl.isUserAdmin() ? 'col-xs-3': 'col-xs-4'">
        Member
      </div>
      <div ng-class="rentalCtrl.isUserAdmin() ? 'col-xs-3': 'col-xs-4'">
        Exp. Date
      </div>
    </div>
      <div class="row rental" ng-if="!rentalCtrl.rentals || rentalCtrl.rentals.length === 0">
        <div class="col-xs-12">
          No rentals found.
        </div>
      </div>
      <div class="row rental" ng-class="rentalCtrl.checkExp(rental) ? 'success' : 'danger'" ng-repeat="rental in rentalCtrl.rentals track by $index">
        <div ng-bind="rental.number" ng-class="rentalCtrl.isUserAdmin() ? 'col-xs-3': 'col-xs-4'">
        </div>
        <div ng-class="rentalCtrl.isUserAdmin() ? 'col-xs-3': 'col-xs-4'">
          <span ng-if="rental.member" ng-bind="rental.member.fullname"></span>
          <span ng-if="!rental.member">Available for Rent</span>
        </div>
        <div ng-bind="rental.expiration" ng-class="rentalCtrl.isUserAdmin() ? 'col-xs-3': 'col-xs-4'">
        </div>
        <div ng-class="rentalCtrl.isUserAdmin() ? 'col-xs-3': 'col-xs-4'" ng-if="rentalCtrl.isUserAdmin()">
          <button type="button" class="btn btn-primary" ui-sref="root.rentalEdit">Edit/Renew</button>
        </div>
      </div>
    </div>
  </div>
</div>
