<div class="col-xs-12 payments-table text-center">
  <div class="row group-buttons">
    <div class="col-xs-2">
      <button type="button" class="btn btn-success" ng-click="paymentsCtrl.toggleAllSelected()">
        <span ng-if="paymentsCtrl.allSelected">Deselect All</span>
        <span ng-if="!paymentsCtrl.allSelected">Select All</span>
      </button>
    </div>
    <div class="col-xs-8">
      <h4>Recent Payments</h4>
    </div>
    <div class="col-xs-2">
      <button type="button" class="btn btn-danger" ng-click="paymentsCtrl.sendSelected()">Send Selected</button>
    </div>
  </div>
  <div class="payments-header row">
    <div class=" col-xs-2">
      Bulk Process
    </div>
    <div class=" col-xs-3">
      Product Name
    </div>
    <div class=" col-xs-4">
      Member Info
    </div>
    <div class=" col-xs-1">
      Renew
    </div>
    <div class=" col-xs-1">
      Intro
    </div>
    <div class=" col-xs-1"></div>
  </div>
  <div class="payment row"
    ng-class="payment.danger ? 'danger' : 'success'"
    ng-repeat="payment in paymentsCtrl.payments">
    <div class="col-xs-2">
      <input type="checkbox" name="renew" ng-model="payment.selected"/>
    </div>
    <div class="col-xs-3">
      <b><span ng-bind="payment.amount | currency"></span></b>:
      <span ng-bind="payment.product"></span>
    </div>
    <div class="col-xs-4">
      <p>
        <select name="member"
          ng-options="member.fullname for member in paymentsCtrl.members track by member.id"
          ng-model="payment.member"
          placeholder="Select Member...">
        </select>
        <span ng-bind="payment.member.expirationTime | date: shortDate: EST"></span>
      </p>
      <p>
        <span ng-bind="payment.firstname"></span>
        <span ng-bind="payment.lastname"></span>
        @
        <span ng-bind="payment.payer_email"></span>
      </p>
    </div>
    <div class="col-xs-1">
      <input type="checkbox" name="renew" ng-model="payment.renew"/>
      <select name="months"
        ng-model="payment.months"
        placeholder="#">
        <option ng-repeat="n in [1,2,3,4,5,6,7,8,9,10]" value="{{n}}">{{n}}</option>
      </select>
    </div>
    <div class="col-xs-1">
      <input type="checkbox" name="intro" ng-model="payment.intro"/>
    </div>
    <div class="col-xs-1">
      <button type="button"
        class="btn btn-primary"
        ng-click="paymentsCtrl.processPayment(payment)">Send</button>
    </div>
  </div>
</div>
