<div class="col-xs-12">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <div class="row">
        <a class="btn col-xs-6 text-center new-member-header" ui-sref-active="active" ui-sref="root.admin.memberships.new">
          Register New Member
        </a>
        <a class="btn col-xs-6 text-center new-member-header" ui-sref-active="active" ui-sref="root.admin.memberships.renew">
          Renew A Member
        </a>
      </div>
      <ui-view updated-members=membershipCtrl.updatedMembers></ui-view>
    </div>
  </div>

  <div class="row new-members">
    <div class="col-xs-12">
      <h4 ng-if="membershipCtrl.updatedMembers.length > 0">Member Updates</h4>
    </div>
    <div class="col-xs-4 member-record"
      ng-repeat="member in membershipCtrl.updatedMembers track by $index">
      <p>Member Name: <span ng-bind="::member.fullname"></span></p>
      <p>Expiration Date: <span ng-bind="::member.expirationTime | date: shortDate: EST"></span></p>
    </div>
  </div>
</div>
