.signature {
  border: 1px solid black;
  border-radius: 4px;
  // canvas {
  //   // height: 100px !important;
  //   // width: 1000px  !important;
  //   margin: 0 !important;
  // }
}

.contract {
  p:not(.subtitle) {
    line-height: 1.2em !important;
    margin-bottom: .2em !important;
  }
  li {
    &:before {
      display: none;
    }
    line-height: 1.2em !important;
    margin-bottom: .2em !important;
  }
  ol {
    list-style-type: decimal !important;
  }
}
