.new-member-header {
  border: 1px solid black;
  border-radius: 4px 4px 0 0;
  font-size: 1.2em;
  padding: 1em;
  cursor: pointer;
  &.active {
    background-color: grey;
  }
}

.new-member-form, .renew-member-form, .member-edit-form {
  border: 1px solid black;
  border-radius: 0 4px 4px 4px;
  padding: 1em;
}

.member-edit-header {
  border: 1px solid black;
  border-radius: 4px 4px 0 0;
  font-size: 1.2em;
  padding: 1em;
}
.member-edit-form {
  button {
    margin-bottom: 1em;
    margin-top: 1em;
  }
}
.members-table {
  .member-name {
    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
}
