.new-member-header {
  border-bottom: 1px solid #d3d3d3;
  border-radius: 4px 4px 0 0;
  font-size: 1.2em;
  padding: 1em;
  cursor: pointer;
  color: #b5b3b3;
  background-color: rgba(#d3d3d3, 0.5);
  &.active {
    border: 1px solid #800000;
    background-color: white;
    font-weight: bold;
    color: #800000;
  }
}

.contract {
  p:not(.subtitle) {
    line-height: 1.2em !important;
    margin-bottom: .2em !important;
  }
  li {
    &:before {
      display: none;
    }
    line-height: 1.2em !important;
    margin-bottom: .2em !important;
  }
  ol.lst-kix_list_1-0 {
    list-style-type: decimal;
  }
}

.member-edit-form {
  border: 1px solid black;
  border-radius: 4px;
  padding: 1em;
}

.new-member-form, .renew-member-form {
  border: 1px solid black;
  border-radius: 0 4px 4px 4px;
  padding: 1em;
}

.member-edit-header {
  border: 1px solid black;
  border-radius: 4px 4px 0 0;
  font-size: 1.2em;
  padding: 1em;
}
.member-edit-form {
  button {
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .member-card {
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 1em;
    padding-top: 1em;
  }
}
.members-table {
  .member-row {
    &:hover {
      font-weight: bold;
      // cursor: pointer;
    }
  }
}
.members-index-wrapper {
  height: 100vh;
  position: relative;
  .search-row {
    width: 100%;
    &.absolute {
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
    }
    .search {
      border: 1px solid gray;
      border-radius: 4px;
      margin-bottom: 1em;
    }
    // margin-top: 1em;
  }
}
