<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<% base_url = Rails.configuration.action_mailer.default_url_options[:host] %>
<% base_url += ":#{Rails.configuration.action_mailer.default_url_options[:port].to_s}" unless Rails.configuration.action_mailer.default_url_options[:port].nil? %>

<p><%= link_to 'Change my password', "#{base_url}/resetPassword/#{@token}" %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until do so using the link above.</p>
