<form method='POST' action='/members/search_by'>
   <%= token_tag nil %>
	<label>Search Members:</label>
	 <select name='field'>
		 <% Member.search_terms.each do |attr| %>
				<% if attr == 'name' %>
					<option value='fullname' selected='selected'> Name </option>
				<% else %>
					<option value='<%=attr%>'><%=attr%></option>
				<% end %>
		<%end%>
		Value: <input type='text' name='value'>
		<input type='submit' name='Search'>
</form>
