<!DOCTYPE html>
<html>
<head>
  <title>Makerspace Authorization</title>
  <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  <%= favicon_link_tag asset_path('favicon.png'), :rel => 'apple-touch-icon', :type =>  'image/png' %>
  <%= stylesheet_link_tag 'application' %>
  </head>
<body>
  <%= javascript_include_tag 'application' %>
</body>
</html>
