<!DOCTYPE html>
<html>
<head>
  <title>Makerspace Authorization</title>
  <script src="https://js.braintreegateway.com/web/dropin/1.11.0/js/dropin.min.js"></script>
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag 'application.css' %>
  </head>
<body>
  <%= javascript_pack_tag 'main' %>
</body>
</html>
