<!DOCTYPE html>
<html>
<head>
  <title>Makerspace Authorization</title>
  <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  <script src="https://js.braintreegateway.com/web/dropin/1.11.0/js/dropin.min.js"></script>
  <%= csrf_meta_tags %>
  </head>
<body>
  <%= javascript_pack_tag 'main' %>
</body>
</html>
