<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <div class="col-xs-12">
      <a href="http://manchestermakerspace.org/">
        <img src="https://makerspace-interface.herokuapp.com/assets/makerspace.png"
          alt="Manchester Makerspace"
          style="max-height: 116px;"/>
      </a>
    </div>

    <%= yield %>
  </body>
</html>
