<table class="table table-bordered table-striped">
	<thead>
		<caption>Member List</caption>
		<tr>
			<th>Full Name</th>
			<th>Status</th>
      <th>Expiration Time</th>
		</tr>
	</thead>
	<tbody>
		<% if @members.size == 0 %>
			<tr>
				<td colspan="6">No members found.</td>
			</tr>
		<% else %>
			<% @members.each do |member| %>
				<tr class='<%=member.membership_status%>'>
						<td><%= link_to "#{member.fullname}", member_path(member) %></td>
						<td><%= member.status %></td>
	          <td><%= "#{member.expirationTime.mon}/#{member.expirationTime.day}/#{member.expirationTime.year}" %></td>
			   	</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
