<table class="table table-bordered table-striped">
	<caption>Member Profile</caption>
	<tbody>
			<tr>
				<td colspan="6">Name: <%=@member.fullname%> </td>
			</tr>
      <tr>
        <td colspan="6">Status: <%=@member.status%> </td>
      </tr>
      <tr>
        <td colspan="6">Expiration Date: <%="#{@member.expirationTime.mon}/#{@member.expirationTime.day}/#{@member.expirationTime.year}"%> </td>
      </tr>
      <tr>
        <td colspan="3"><%= link_to "Edit", edit_admin_member_path(@member), class: "btn btn-default" %></td>
      </tr>
	</tbody>
</table>
